<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Medical1.Properties.Settings.house_accountConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\house_account.accdb"
            providerName="System.Data.OleDb" />
        <add name="Medical1.Properties.Settings.Medical_new_BackupConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Medical_new_Backup.accdb"
            providerName="System.Data.OleDb" />
        <add name="Medical1.Properties.Settings.MEDICALCConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\MEDICALC.accdb"
            providerName="System.Data.OleDb" />
        <add name="Medical1.Properties.Settings.MEDICALC_beConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\MEDICALC_be.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>